<!-- country-search-input -->
<country-search-input
  (value)="query.set($event)"
  placeholderValue="Buscar por pais"
  [initialValue]="query()"
/>

<!-- country-list -->

<!-- @if (countryResource.error()) {
<h3>{{ countryResource.error() }}</h3>
} @if(countryResource.hasValue()) {
<country-list [countryList]="countryResource.value()" />
} -->

<country-list
  [countryList]="countryResource.value() ?? []"
  [errorMessage]="countryResource.error()"
  [isEmpty]="countryResource.value()?.length === 0"
  [isLoading]="countryResource.isLoading()"
/>
